{% if facility == 'DFW1' %}
{% set facility_name = 'dfw1' %}
{% elif facility == 'DFW2' %}
{% set facility_name = 'dfw2' %}
{% elif facility == 'DFW3' %}
{% set facility_name = 'dfw3' %}
{% elif facility == 'MCI1' %}
{% set facility_name = 'mci1' %}
{% elif facility == 'MCI2' %}
{% set facility_name = 'MCI2' %}
{% elif facility == 'MCI3' %}
{% set facility_name = 'mci3' %}
{% elif facility == 'SLC1' %}
{% set facility_name = 'slc1' %}
{% elif facility == 'SLC2' %}
{% set facility_name = 'SLC2' %}
{% elif facility == 'SLC3' %}
{% set facility_name = 'SLC3' %}
{% elif facility == 'MSP1' %}
{% set facility_name = 'msp1' %}
{% elif facility == 'MSP2' %}
{% set facility_name = 'msp2' %}
{% elif facility == 'BAL1' %}
{% set facility_name = 'balt1' %}
{% elif facility == 'BAL2' %}
{% set facility_name = 'balt2' %}
{% elif facility == 'PIT1' %}
{% set facility_name = 'pit1' %}
{% elif facility == 'ATL1' %}
{% set facility_name = 'atl1' %}
{% elif facility == 'CLE1' %}
{% set facility_name = 'cle1' %}
{% endif %}
set system host-name mpls.{{ facility_name }}
set system root-authentication plain-text-password-value br@!wuRst2
set system login user databank class super-user
set system login user databank authentication plain-text-password-value br@!wuRst2
set system services ssh root-login deny
set system services ssh protocol-version v2
set system services ssh client-alive-count-max 5
set system services ssh client-alive-interval 300
set system services ssh connection-limit 15
set system services ssh rate-limit 5
set system services netconf ssh
set system syslog user * any emergency
set system syslog user * interactive-commands warning
set system syslog host {{ syslog }} any warning
set system syslog host {{ syslog }} daemon info
set system syslog host {{ syslog }} facility-override local7
set system syslog host {{ syslog }} explicit-priority
set system syslog file messages any warning
set system syslog file messages authorization notice
set system syslog file interactive-commands interactive-commands any
set system syslog file alarms kernel warning
set system syslog file security authorization info
set system syslog file security interactive-commands info
set system syslog console any error
set system syslog console interactive-commands warning
set system syslog time-format year
set system syslog time-format millisecond
set system processes dhcp-service traceoptions file dhcp_logfile
set system processes dhcp-service traceoptions file size 10m
set system processes dhcp-service traceoptions level all
set system processes dhcp-service traceoptions flag all
set chassis network-services enhanced-ip
set chassis redundancy graceful-switchover
set routing-options nonstop-routing
set system commit synchronize
delete interfaces et-0/0/24
set interfaces et-0/0/24 mtu 9114
set interfaces et-0/0/24 unit 0 description {{ int_desc_1 }}
set interfaces et-0/0/24 unit 0 family inet unnumbered-address lo0.0
set interfaces et-0/0/24 unit 0 family inet6
set interfaces et-0/0/24 unit 0 family mpls
delete interface et-1/0/24
set interfaces et-1/0/24 mtu 9114
set interfaces et-1/0/24 unit 0 description {{ int_desc_2 }}
set interfaces et-1/0/24 unit 0 family inet unnumbered-address lo0.0
set interfaces et-1/0/24 unit 0 family inet6
set interfaces et-1/0/24 unit 0 family mpls
set interfaces lo0 unit 0 family inet filter input-list limit-inet-mgmt
set interfaces lo0 unit 0 family inet address {{ loopback_ip }}
set interfaces vme unit 0 family inet address {{ mgmt_ip }}
set snmp location {{ facility_name }}
set snmp contact "support@databank.com"
set snmp view all oid .1
set snmp client-list MGMT 204.13.99.5/32
set snmp client-list MGMT 204.13.99.21/32
set snmp client-list MGMT 204.13.99.26/32
set snmp client-list MGMT 204.13.99.28/32
set snmp client-list MGMT 208.74.103.28/32
set snmp client-list MGMT 208.74.103.30/32
set snmp client-list MGMT 208.89.116.235/32
set snmp client-list MGMT 208.89.116.237/32
set snmp client-list MGMT 208.89.116.242/32
set snmp client-list MGMT 208.89.116.234/32
set snmp client-list MGMT 208.89.116.231/32
set snmp client-list MGMT 69.44.220.7/32
set snmp community 0x1dE view all
set snmp community 0x1dE authorization read-only
set snmp community 0x1dE client-list-name MGMT
set forwarding-options storm-control-profiles default all
set routing-options static route 0.0.0.0/0 next-hop {{ mgmt_gateway }}
set protocols ospf traffic-engineering
set protocols ospf export ospf-out
set protocols ospf area 0.0.0.0 interface lo0.0 passive
set protocols ospf area 0.0.0.0 interface et-0/0/24.0 interface-type p2p
set protocols ospf area 0.0.0.0 interface et-1/0/24.0 interface-type p2p
set protocols ospf3 export ospf3-out
set protocols ospf3 area 0.0.0.0 interface lo0.0 passive
set protocols ospf3 area 0.0.0.0 interface et-0/0/24.0 interface-type p2p
set protocols ospf3 area 0.0.0.0 interface et-1/0/24.0 interface-type p2p
set protocols ldp track-igp-metric
set protocols ldp interface et-0/0/24.0
set protocols ldp interface et-1/0/24.0
set protocols ldp interface lo0.0
set protocols lldp interface all
set protocols lldp interface et-0/0/24
set protocols lldp interface et-1/0/24
set protocols lldp-med interface all
set protocols lldp-med interface et-0/0/24
set protocols lldp-med interface et-1/0/24
set protocols igmp-snooping vlan default
set protocols rstp interface all
set policy-options prefix-list mgmt-inet 10.3.3.0/24
set policy-options prefix-list mgmt-inet 192.168.246.23/32
set policy-options prefix-list mgmt-inet 192.168.246.25/32
set policy-options prefix-list mgmt-inet 192.168.246.26/32
set policy-options prefix-list mgmt-inet 192.168.246.165/32
set policy-options prefix-list mgmt-inet 192.168.246.227/32
set policy-options prefix-list mgmt-inet 192.168.251.12/32
set policy-options prefix-list mgmt-inet 192.168.251.16/32
set policy-options prefix-list mgmt-inet 192.168.251.51/32
set policy-options prefix-list mgmt-inet 192.168.252.12/32
set policy-options prefix-list mgmt-inet 192.168.252.19/32
set policy-options prefix-list mgmt-inet 192.168.252.51/32
set policy-options prefix-list mgmt-inet 204.13.99.21/32
set policy-options prefix-list mgmt-inet 208.89.116.242/32
set policy-options policy-statement ospf-out term export-direct from family inet
set policy-options policy-statement ospf-out term export-direct from protocol direct
set policy-options policy-statement ospf-out term export-direct then accept
set policy-options policy-statement ospf-out term export-statics from family inet
set policy-options policy-statement ospf-out term export-statics from protocol static
set policy-options policy-statement ospf-out term export-statics from route-filter 0.0.0.0/0 prefix-length-range /25-/30
set policy-options policy-statement ospf-out term export-statics then accept
set policy-options policy-statement ospf3-out term export-direct from family inet6
set policy-options policy-statement ospf3-out term export-direct from protocol direct
set policy-options policy-statement ospf3-out term export-direct then accept
set firewall family inet filter limit-inet-mgmt term allow-mgmt from source-prefix-list mgmt-inet
set firewall family inet filter limit-inet-mgmt term allow-mgmt from destination-port ssh
set firewall family inet filter limit-inet-mgmt term allow-mgmt from destination-port telnet
set firewall family inet filter limit-inet-mgmt term allow-mgmt from destination-port http
set firewall family inet filter limit-inet-mgmt term allow-mgmt from destination-port https
set firewall family inet filter limit-inet-mgmt term allow-mgmt from destination-port ftp
set firewall family inet filter limit-inet-mgmt term allow-mgmt then accept
set firewall family inet filter limit-inet-mgmt term block-mgmt from destination-port ssh
set firewall family inet filter limit-inet-mgmt term block-mgmt from destination-port telnet
set firewall family inet filter limit-inet-mgmt term block-mgmt from destination-port http
set firewall family inet filter limit-inet-mgmt term block-mgmt from destination-port https
set firewall family inet filter limit-inet-mgmt term block-mgmt from destination-port ftp
set firewall family inet filter limit-inet-mgmt term block-mgmt then discard
set firewall family inet filter limit-inet-mgmt term allow-ntp from source-address 208.89.117.254/32
set firewall family inet filter limit-inet-mgmt term allow-ntp from source-address 208.74.97.254/32
set firewall family inet filter limit-inet-mgmt term allow-ntp from source-address 204.13.97.254/32
set firewall family inet filter limit-inet-mgmt term allow-ntp from source-address 208.74.96.1/32
set firewall family inet filter limit-inet-mgmt term allow-ntp from protocol udp
set firewall family inet filter limit-inet-mgmt term allow-ntp from port ntp
set firewall family inet filter limit-inet-mgmt term allow-ntp then accept
set firewall family inet filter limit-inet-mgmt term block-ntp from protocol udp
set firewall family inet filter limit-inet-mgmt term block-ntp from port ntp
set firewall family inet filter limit-inet-mgmt term block-ntp then discard
set firewall family inet filter limit-inet-mgmt term else then accept
set virtual-chassis preprovisioned
set virtual-chassis no-split-detection
set virtual-chassis member 0 role routing-engine
set virtual-chassis member 0 serial-number {{ serial_number_1 }}
set virtual-chassis member 1 role routing-engine
set virtual-chassis member 1 serial-number {{ serial_number_2 }}

